/* ============= the band - css ================================ */

html{
    background-color: rgb(241, 241, 241);
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

/* ================ tekst og font ===================*/

h1{
    font-size: 48px;
    margin:0;
}

h2{
    /* font-size: 36px; */
    font-size: 24px;
}

p{
    line-height: 1.5;
}

/* ================= layout ========================*/

header{
    background-image: url('../img/banner.jpg');
    width: 100%;
    height: 240px;
}

header nav{
    width: 1184px;
    height: 100%;
    margin: 0 auto;
}

main{
    width: 1184px;
    margin: 0 auto;
    padding: 48px;
}

footer{
    height: 80px;
    background-image: url('../img/banner_footer.jpg');
}

footer div{
    width: 1184px;
    height:100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* ================= navigation =============== */

nav ul{
    padding: 0;
    list-style: none;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
}

nav a{
    font-size: 20px;
    text-decoration: none;
}

nav img{
    margin: 20px 0;
}

nav li a{
    margin-left: 50px;
    color: black;
}

nav li a:hover{
    color: red;
    text-decoration: none;
}

/* ==================== main content ============== */

article{
    display: flex;
    justify-content: space-between;
}

article section{
    width: 40%;
}

article figure{
    width: 50%;
    margin: 0;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

figure img{
    margin-bottom: 15px;
}

figure img:nth-last-child(-n+2){
    margin-bottom: 0;
}

/* ============= additions to save somebodys proverbial posteriori ================ */

/* removes indent from list */
ul{
    padding-inline-start:0;
}

/* removes bullets from list */
ul li{
    list-style-type:none;
}

.fix-img{                   
    max-width:290px; 
    max-height:290px; 
    width: auto;
    height: auto;
 } 


/* ================= footer content ==================== */

footer img{
    margin-left: 15px;
}

/* ================= the end ================== */